<main class="row">
  <section class="col-12 my-3">
    <button (click)="extract()" class="btn btn-primary">Extract</button>
    <a href="/test1">Test href</a>
    <a routerLink="/test2">Test 2</a>
  </section>
  <section class="col-12 my-3">
    <router-outlet></router-outlet>
  </section>
  <section
    class="col-9 bg-light"
    id="editor"
    #editor
    cdkDropList
    [cdkDropListData]="editorComponents"
    (cdkDropListDropped)="drop($event)">
  </section>
  <aside
    cdkDropList
    [cdkDropListData]="getListData()"
    cdkDropListConnectedTo="editor"
    class="col-3 d-flex flex-column">
    <div
      *ngFor="let component of components"
      cdkDrag
      [cdkDragData]="component.dropData"
      cdkDropListDisabled="true"
      cdkDropListSortingDisabled="true">
      <img class="img-fluid" [src]="component.preview">
    </div>
  </aside>
</main>